/* Body */
body {
  /*background: cornflowerblue;*/
}

.main {
  background: lavender;s
}

/* Text*/

p {
  padding: 0% 3% 0% 3%;
  background: blue;
}

h1  {
  background: pink;
}

h2  {
  text-align: center;
}

/*Images*/

img{
  width: auto;
  height: auto;}


/*Navigation bar*/

nav {
	display: -webkit-flex ;
	background: purple;
  -webkit-flex-direction: row-reverse;
}

 li {
  background: red;
  display: inline-block;
  list-style: none;
  height: 1em;
  line-height: 1em;
  padding: 1em;
  border: 1px dotted white;
   }

/* Banners */
.banner {
  width: 100%;
  height: 1em;
  background: orange;
}

.container {
  width: 90%;
  margin: auto;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;

}

.col img {
  display: block;
    margin-left: auto;
    margin-right: auto
}

.col:first-child { margin-left: 0; 
background: yellow;}

.col:nth-child(2) { margin-left: 0; 
background: green;}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

footer { 
  background: grey;
}

/*Gallery*/
.gallery {
  background: cornflowerblue;
   display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  height: 100vw;
  max-height: 800px;

}

.gallery img {
  width: 33.3%;
  align-self: center;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */ 

@media only screen and (max-width: 480px) {
  .col { margin: 1% 0 1% 0%;}
  .span_2_of_2, .span_1_of_2 { width: 95%; }
  .gallery { height: 200vw;
  -webkit-flex-wrap: no-wrap; }
  .gallery img { width: 50%; } }

@media screen and (max-width: 600px) {
   .col { margin: 1% 0 1% 0%;}
  .span_2_of_2, .span_1_of_2 { width: 95%; }
  .gallery { height: 200vw;
  -webkit-flex-wrap: no-wrap; }
  .gallery img { width: 50%; } }
}


/* Supporyts*/
  @supports not (flex-wrap: wrap) {
  .gallery { display: block; }
  .gallery img {  
  display: inline-block;
  vertical-align: top;
  }
}