/* Body */
body {
  background: url('../img/retina_wood.png') ;
 
   }

.container {
  background: white; 
   }

.resume li {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  width: 70%;
  max-width: 300px;
  list-style-position: outside;
  }



/* Text*/

p {
  padding: 0% 5% 0% 5%;
  background: ;
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

h1  {
  background: pink;
  font-family: 'Poiret One', Helvetica, cursive;
  padding-left: 2%;
}

h2, footer  {
  text-align: center;
  background: hotpink;
  font-family: 'Poiret One', Helvetica, cursive;
}

h3, h4
  {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 1%
  }

  h5
  {font-family: 'Lato', sans-serif;}

/*Images*/

img{
  width: auto;
  height: auto;}


/*Navigation bar*/

nav {
  display: inline-block ;
  background: #FF3366;
  float: right;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

 .nav li {
  background:  ;
  display: inline-block;
  list-style: none;
  height: .5em;
  padding-right: 1em;
     }

 .nav a:link { color: white;
    text-decoration: none;}
  .nav a:visited {color: white;
    text-decoration: none;}
  .nav a:hover {color: black;
    text-decoration: underline;
    padding: 1em;
    
     }
  .nav a:active {color: white;
    text-decoration: underline;
  }

/* Banners */
.banner{
  width: 100%;
  height: 4em;
  background: #FF3366;
   background: url('../img/one-cookie.png');


}

.container {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;

}

.col img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.col:first-child { margin-left: 0; 
}

.col:nth-child(2) { margin-left: 0; 
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

footer { 
  background:#FF3366;

}

/*Gallery*/
.gallery {
      
      display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
    font-size: 0;
    align-items: center;
    padding-top:3%;
    }


.gallery img {
  width: 35%;

 }

/*Transition screen size all*/
 *{
    -webkit-transition:all 1s ease;
         -moz-transition:all 1s ease;
               -o-transition:all 1s ease;
                     transition:all 1s ease;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */ 

@media only screen and (max-width: 481px) {
  .col { 
    margin: 1% 0 1% 0%;}
  .span_2_of_2, .span_1_of_2 { width: 95%; }
  .gallery { height: 200vw; }
  .gallery img { width: 50%; }
  .nav {display: block;}

}

@media only screen and (min-width: 482px) {
  
  background-attachment: fixed;
 }


@media only screen and (max-width: 381px){

}